.rules {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url(/assets/background3.png);
  background-size: cover;
  background-attachment: fixed;
}

.rules-container{
  display: flex;
  flex-direction: column; 
  align-items: center;
  min-height: 100vh;
  flex: 1;
  padding-top: 150px;

  max-width: 1000px;
  margin: auto;
}

.conteudo-rules-topo{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -50px;
}

.conteudo-rules-topo h1 {
  color: wheat;
  font-size: 40px;
}

.introducao-rules{
  color: white;
}
.introducao-rules{
  text-align: justify;
  font-size: 18px;
}

.introducao-rules h3{
  width: 900px;;
}

.color-red-rules{
  color: rgb(221, 0, 0);
}

.color-yellow-rules{
  color: yellow;
}

.titulo-manual-do-jogador{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: wheat;
  margin-bottom: -80px;
}
.titulo-manual-do-jogador h2{
  margin-top: 100px;
  font-size: 30px;
}.titulo-manual-do-jogador p {
  text-align: justify;
}

.background-rules{
  background-color: rgba(63, 0, 0, 0.601);
  border-radius: 8px;
  margin: 20px auto;/* separação entre blocos */
  width: 1000px;
  padding: 40px 40px 40px 40px;
}

.conteudo-manual-do-jogador {
 
}

.conteudo-manual-do-jogador p {
  color: white;
  text-align: justify;
  font-size: 20px;
}