
/*--------Vídeo-----------*/
.main1home {
  position: relative;
  height: 100vh; /* ocupa a tela toda */
  overflow: hidden;
}

.bg-video {
  position: absolute; /* fica fixo no fundo */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* sempre atrás */
}

/*-----------Sobre o servidor---------*/

.coluna {
    flex: 1;                /* cada coluna ocupa espaço igual */
    text-align: center;
    padding: 50px;
}

.coluna2 {
  margin-top: 80px;
}
.main2home {
    display: flex;
    background-color: #0f0f0f;
    background-size: cover;
    padding: 60px;    
}

#main2divhome {
    display: flex;
    flex-direction: row; /* muda para linha */
    justify-content: center;
    gap: 50px; /* espaço entre as colunas */
    background-image: url(assets/background\ header.jpg);
    text-decoration: transparent;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.8);

    margin-top: -100px;
    position: relative; 
    z-index: 1;
}

#main2h1home {
  color: #CAC6AD;
  font-size: 50px;
  margin-bottom: 30px;
  margin-top: 30px;
  
}
  

#main2phome {
  color: #ffffff;
  font-size: 20px;
}

/*Botoes*/

.botoes {
    margin-top: 50px;
    display: flex;          /* coloca os itens em linha */
    flex-direction: row;    /* garante linha horizontal */
    gap: 20px;
    justify-content: center;     /* espaço entre os botões */
}

.botoes a {
    background-color: transparent; /* fundo transparente */
    color: #ffffff;                /* texto branco */
    padding: 20px 25px;             /* tamanho do botão */
    border-radius: 8px;
    border: 2px solid #2c2c2c;    /* borda visível */
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.3s, background-color 0.3s;
}

.botoes a:hover {
    background-color: #202020;  /* cor ao passar o mouse */
    transform: scale(1.05);     /* efeito de "zoom" suave */
}


.main1personalizacao {
  height: 1040px;
  background-image: url(assets/personalizacao/BG1person.png);
  background-size: cover;
  padding-top: 50px;
}

.div1perso {
  margin-bottom: 50px;
  text-align: center;
  color: #ffffff;
}


.div2perso {
  display: flex;
  margin: auto;
  height: 350px;
  width: 1000px;
  color: white;
  background-color: #0E0E0E;

  & h1 {
    padding-left: 30px;
    margin-bottom: 45px;
    margin-top: 20px;

  }

  & p {
    padding-left: 30px;
    font-size: 20px;
    margin-bottom: 12px;

  }

  
  
}

#classes {
  padding-block: 15px;
  padding-left: 15px;
}

